.table-responsive {
  overflow-x: auto;
}

.nova-table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-main);
}

.nova-table th,
.nova-table td {
  padding: 15px;
  border-bottom: 1px solid var(--table-border);
  text-align: left;
}

.nova-table th {
  color: var(--text-alt);
  text-transform: uppercase;
  font-size: 0.85rem;
}

/* Botones admin */
.btn-group-admin {
  display: flex;
  gap: 8px;
}

.btn-edit, .btn-delete {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  background: var(--bg-card);
  border: 1px solid var(--table-border);
  transition: 0.2s;
}

.btn-edit { color: #0ea5e9; }
.btn-delete { color: #ef4444; }

.btn-edit:hover {
  background: #0ea5e9;
  color: white;
}

.btn-delete:hover {
  background: #ef4444;
  color: white;
}

.stock-critical {
  color: #ff4d4d;
  font-weight: bold;
}

.btn-mode-nav{
  background-color: transparent;
  color: var(--text-alt);
  border: 2px solid rgba(2,132,199,0.5);
  padding: 8px 16px;
  font-weight: 500;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-logout{
  background-color: transparent;
  color: var(--text-alt);
  border: 2px solid rgba(2,132,199,0.5);
  padding: 8px 16px;
  font-weight: 500;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  transition: 0.3s;
}